<!-- CONTENT START -->
<div class="page-content">
  <!-- INNER PAGE BANNER -->
  <div
    class="wt-bnr-inr overlay-wraper"
    style="background-image: url(/images/banner/about-banner.jpg)"
  >
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
      <div class="wt-bnr-inr-entry">
        <h1 class="text-white"><center>About Us</center></h1>
      </div>
    </div>
  </div>
  <!-- INNER PAGE BANNER END -->

  <!-- BREADCRUMB ROW -->
  <div class="bg-gray-light p-tb20">
    <div class="container">
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>About</li>
      </ul>
    </div>
  </div>
  <!-- BREADCRUMB  ROW END -->

  <!-- ABOUT COMPANY SECTION START -->
  <div class="section-full p-tb100">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="section-head text-left">
            <div class="wt-media">
              <img
                src="/images/gallery/pic3.jpg"
                alt=""
                class="img-responsive"
              />
            </div>
            <h2 class="text-uppercase">&nbsp;</h2>
            <div class="wt-separator-outer">
              <div class="wt-separator bg-primary"></div>
            </div>
            <p>
              <%= res.locals.siteName %> mission is to empower investors with
              the most advanced Artificial Intelligence technology make it
              simpler and seamless to execute profit oriented investment
              strategies. It’s wealth management at no-cost to low-cost, a
              philosophy we’re proud to be pioneering. Our Commitment: We are
              proactive in defining and managing today’s financial decisions to
              further tomorrows goals and objectives. We understand that
              achieving and maintaining financial wellness and sustainability in
              Investment takes time, information and planning. <%=
              res.locals.siteName %> has been identifying and successfully
              solving inefficiencies on Bitcoin investment field by creating
              innovative and convenient financing solutions. Our dedication to
              you- our customer- has helped us grow rapidly while consistently
              providing self-directed investors with fast order executions,
              excellent customer service, exceptional site performance and
              no-cost to low-cost trading.
            </p>
            <p>
              *INVESTORS COME FIRST.* To maintain a leading position in the
              field of investments by upholding first-rate investment practices
              and providing access to the Worlds latest Artificial Intelligence
              investment strategies. Piloted by the expertise of our management
              team, we aim to build a portfolio of beneficial and sustainable
              investments, steadfastly committed to the integrity our core
              values. Our vision is to increase the freedom of money globally.
              We believe that by spreading this freedom, we can significantly
              improve lives around the world.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <!-- <div class="wt-media">
                        <img src="images/gallery/pic3.jpg" alt="" class="img-responsive"/>
                    </div>-->
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT COMPANY SECTION END -->

  <!-- HOW IT WORK SECTION START  -->
  <div class="section-full p-t80 p-b80 bg-gray">
    <div class="container">
      <!-- TITLE START-->
      <div class="section-head text-center">
        <h2 class="text-uppercase">How It Work</h2>
        <div class="wt-separator-outer">
          <div class="wt-separator bg-primary"></div>
        </div>
        <p>&nbsp;</p>
      </div>
      <!-- TITLE END-->
      <div class="section-content no-col-gap">
        <div class="row">
          <!-- COLUMNS 1 -->
          <div class="col-md-4 col-sm-4 step-number-block">
            <div class="wt-icon-box-wraper p-a30 center bg-white m-a5">
              <div class="icon-lg text-primary m-b20">
                <a href="#" class="icon-cell"
                  ><img src="/images/icon/pick-4.png" alt=""
                /></a>
              </div>
              <div class="icon-content">
                <div class="step-number">1</div>
                <h4 class="wt-tilte text-uppercase font-weight-500">
                  Sign Up for Free
                </h4>
                <p>
                  Open an Account with just your email address, No verification
                  documents required.
                </p>
              </div>
            </div>
          </div>
          <!-- COLUMNS 2 -->
          <div class="col-md-4 col-sm-4 step-number-block">
            <div class="wt-icon-box-wraper p-a30 center bg-secondry m-a5">
              <div class="icon-lg m-b20">
                <a href="#" class="icon-cell"
                  ><img src="/images/icon/pick-28.png" alt=""
                /></a>
              </div>
              <div class="icon-content text-white">
                <div class="step-number active">2</div>
                <h4 class="wt-tilte text-uppercase font-weight-500">
                  Select a Package and Make Deposit
                </h4>
                <p>
                  Choose from any of our plan that suite you. Fund your account
                  with Bitcoins & more, No transfer fees charged..
                </p>
              </div>
            </div>
          </div>
          <!-- COLUMNS 3 -->
          <div class="col-md-4 col-sm-4 step-number-block">
            <div class="wt-icon-box-wraper p-a30 center bg-white m-a5">
              <div class="icon-lg text-primary m-b20">
                <a href="#" class="icon-cell"
                  ><img src="/images/icon/pick-12.png" alt=""
                /></a>
              </div>
              <div class="icon-content">
                <div class="step-number">3</div>
                <h4 class="wt-tilte text-uppercase font-weight-500">
                  Start Earning
                </h4>
                <p>
                  Make profits from world’s most liquid markets with your
                  preferred base currency & account type.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- HOW IT WORK  SECTION END -->

  <!-- OUR TEAM MEMBER SECTION START -->
  <div class="section-full text-center wt-our-team bg-gray p-t80 p-b50">
    <div class="container">
      <!-- TITTLE START -->
      <div class="section-head text-center">
        <h2 class="text-uppercase">Our Consultants</h2>
        <div class="wt-separator-outer">
          <div class="wt-separator bg-primary"></div>
        </div>
        <p></p>
      </div>
      <!-- TITLE END -->

      <div class="section-content">
        <div class="row">
          <!-- COLUMNS 1 -->
          <div class="col-md-4 col-sm-4 m-tb15">
            <div class="wt-team-one bg-white">
              <div class="wt-team-media">
                <a href="javascript:void(0);"
                  ><img src="/images/our-team/pic1.jpg" alt=""
                /></a>
              </div>
              <div class="wt-team-info text-center bg-white p-a10">
                <h4 class="wt-team-title">
                  <a href="javascript:void(0);">LUCY ATKINS</a>
                </h4>
                <p>Consultant</p>
                <ul class="social-icons social-square social-dark">
                  <li>
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="fa fa-instagram"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- COLUMNS 2 -->
          <div class="col-md-4 col-sm-4 m-tb15">
            <div class="wt-team-one bg-white">
              <div class="wt-team-media">
                <a href="javascript:void(0);"
                  ><img src="/images/our-team/pic5.jpg" alt=""
                /></a>
              </div>
              <div class="wt-team-info text-center bg-white p-a10">
                <h4 class="wt-team-title">
                  <a href="javascript:void(0);">AARON GRAHAM</a>
                </h4>
                <p>Top Trader</p>
                <ul class="social-icons social-square social-dark">
                  <li>
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                  </li>

                  <li>
                    <a href="javascript:void(0);" class="fa fa-instagram"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- COLUMNS 3 -->
          <div class="col-md-4 col-sm-4 m-tb15">
            <div class="wt-team-one bg-white">
              <div class="wt-team-media">
                <a href="javascript:void(0);"
                  ><img src="/images/our-team/pic3.jpg" alt=""
                /></a>
              </div>
              <div class="wt-team-info text-center bg-white p-a10">
                <h4 class="wt-team-title">
                  <a href="javascript:void(0);">JAMES CHRIS</a>
                </h4>
                <p>Consultant</p>
                <ul class="social-icons social-square social-dark">
                  <li>
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                  </li>

                  <li>
                    <a href="javascript:void(0);" class="fa fa-instagram"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- OUR TEAM MEMBER SECTION END -->
</div>
<!-- CONTENT END -->
