<style>
  .c-title {
    font-size: 1.7em !important;
  }
  .text-dark {
    text-align: center !important;
  }
</style>
<!-- End Sidebar -->
<div class="main-panel bg-light">
  <div class="content bg-light">
    <div class="page-inner">
      <div class="mt-2 mb-4">
        <h1 class="title1 text-dark">Available packages</h1>
      </div>
      <div></div>
      <div></div>
      <div class="mb-5 row">
        <div class="col-lg-4">
          <div class="pricing-table card purple border bg-light shadow p-4">
            <!-- Table Head -->
            <h2 class="text-dark">Execution Plan 300%</h2>
            <!-- Price -->
            <div class="price-tag">
              <span class="symbol text-dark">$</span>
              <span class="amount text-dark c-title"
                >1,000,000 - Unlimited</span
              >
            </div>
            <!-- Features -->
            <br />
            <!-- Button -->
            <div class="">
              <form method="get" action="/deposits">
                <h5 class="text-dark">
                  Amount to invest: ($1,000,000 default)
                </h5>
                <input
                  type="number"
                  min="5000"
                  max="24999"
                  name="iamount"
                  placeholder="$5000"
                  class="form-control text-dark bg-light"
                />
                <br />
                <input type="hidden" name="duration" value="7 Days" />
                <input type="hidden" name="id" value="3" />
                <input
                  type="hidden"
                  name="_token"
                  value="EmMEFskW98vN4MoFfOx77NACiSKKL4VBKq02F59B"
                />
                <input
                  type="submit"
                  class="btn btn-block pricing-action btn-primary"
                  value="Join plan"
                />
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-table card purple border bg-light shadow p-4">
            <!-- Table Head -->
            <h2 class="text-dark">Execution Plan 250%</h2>
            <!-- Price -->
            <div class="price-tag">
              <span class="symbol text-dark">$</span>
              <span class="amount text-dark c-title">500,000 - 999,999</span>
            </div>
            <!-- Features -->
            <br />
            <!-- Button -->
            <div class="">
              <form method="get" action="/deposits">
                <h5 class="text-dark">Amount to invest: ($500,000 default)</h5>
                <input
                  type="number"
                  min="5000"
                  max="24999"
                  name="iamount"
                  placeholder="$5000"
                  class="form-control text-dark bg-light"
                />
                <br />
                <input type="hidden" name="duration" value="7 Days" />
                <input type="hidden" name="id" value="3" />
                <input
                  type="hidden"
                  name="_token"
                  value="EmMEFskW98vN4MoFfOx77NACiSKKL4VBKq02F59B"
                />
                <input
                  type="submit"
                  class="btn btn-block pricing-action btn-primary"
                  value="Join plan"
                />
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-table card purple border bg-light shadow p-4">
            <!-- Table Head -->
            <h2 class="text-dark">Pro Executive 220%</h2>
            <!-- Price -->
            <div class="price-tag">
              <span class="symbol text-dark">$</span>
              <span class="amount text-dark c-title">100,000 - 499,999</span>
            </div>
            <!-- Features -->
            <br />
            <!-- Button -->
            <div class="">
              <form method="get" action="/deposits">
                <h5 class="text-dark">Amount to invest: ($100,000 default)</h5>
                <input
                  type="number"
                  min="5000"
                  max="24999"
                  name="iamount"
                  placeholder="$5000"
                  class="form-control text-dark bg-light"
                />
                <br />
                <input type="hidden" name="duration" value="7 Days" />
                <input type="hidden" name="id" value="3" />
                <input
                  type="hidden"
                  name="_token"
                  value="EmMEFskW98vN4MoFfOx77NACiSKKL4VBKq02F59B"
                />
                <input
                  type="submit"
                  class="btn btn-block pricing-action btn-primary"
                  value="Join plan"
                />
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-table card purple border bg-light shadow p-4">
            <!-- Table Head -->
            <h2 class="text-dark">Execution Plan 200%</h2>
            <!-- Price -->
            <div class="price-tag">
              <span class="symbol text-dark">$</span>
              <span class="amount text-dark c-title">20,000 - 99,999</span>
            </div>
            <!-- Features -->
            <br />
            <!-- Button -->
            <div class="">
              <form method="get" action="/deposits">
                <h5 class="text-dark">Amount to invest: ($20,000 default)</h5>
                <input
                  type="number"
                  min="5000"
                  max="24999"
                  name="iamount"
                  placeholder="$5000"
                  class="form-control text-dark bg-light"
                />
                <br />
                <input type="hidden" name="duration" value="7 Days" />
                <input type="hidden" name="id" value="3" />
                <input
                  type="hidden"
                  name="_token"
                  value="EmMEFskW98vN4MoFfOx77NACiSKKL4VBKq02F59B"
                />
                <input
                  type="submit"
                  class="btn btn-block pricing-action btn-primary"
                  value="Join plan"
                />
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-table card purple border bg-light shadow p-4">
            <!-- Table Head -->

            <h2 class="text-dark">Pro Standard Plan - 200%</h2>
            <!-- Price -->
            <div class="price-tag">
              <span class="symbol text-dark">$</span>
              <span class="amount text-dark c-title">3,000, 19,999</span>
            </div>
            <!-- Features -->
            <div class="pricing-features">
              <div class="feature text-dark">
                Duration:<span class="text-dark">3 business Days</span>
              </div>
            </div>
            <br />
            <!-- Button -->
            <div class="">
              <form method="get" action="/deposits">
                <h5 class="text-dark">Amount to invest: ($3,000 default)</h5>
                <input
                  type="number"
                  min="25000"
                  max="500000"
                  name="iamount"
                  placeholder="$25000"
                  class="form-control text-dark bg-light"
                />
                <br />
                <input
                  type="submit"
                  class="btn btn-block pricing-action btn-primary"
                  value="Join plan"
                />
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-table card purple border bg-light shadow p-4">
            <!-- Table Head -->

            <h2 class="text-dark">Standard Plan - 150%</h2>
            <!-- Price -->
            <div class="price-tag">
              <span class="symbol text-dark">$</span>
              <span class="amount text-dark c-title">300 - 2,999</span>
            </div>
            <!-- Features -->
            <div class="pricing-features">
              <div class="feature text-dark">
                Duration:<span class="text-dark">2 business days</span>
              </div>
            </div>
            <br />
            <!-- Button -->
            <div class="">
              <form method="get" action="/deposits">
                <h5 class="text-dark">Amount to invest: ($300 default)</h5>
                <input
                  type="number"
                  min="2000"
                  max="25000"
                  name="iamount"
                  placeholder="$300"
                  class="form-control text-dark bg-light"
                />
                <br />
                <input type="hidden" name="duration" value="7 days" />
                <input type="hidden" name="id" value="6" />
                <input
                  type="submit"
                  class="btn btn-block pricing-action btn-primary"
                  value="Join plan"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer bg-light text-dark">
    <div class="container-fluid">
      <div class="text-center row copyright text-align-center">
        <p>All Rights Reserved &copy; <%= res.locals.siteName %> 2024</p>
      </div>
    </div>
  </footer>
</div>
