      
<!-- CONTENT START -->
<div class="page-content">

    <!-- INNER PAGE BANNER START --> 
    <div class="wt-bnr-inr overlay-wraper" style="background-image:url(images/banner/all.jpg);">
        <div class="overlay-main bg-black opacity-05"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <h1 style="margin:auto; max-width:300px; float:none;" class="text-white">Trading Plans</h1>
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END --> 
                
    
            
            <div class="m-b100">
            
                <div class="section-head">
                    <div class="wt-separator-outer">
                        <div class="wt-separator bg-primary"></div>
                    </div>
                </div>
                <!-- PRICING STYLE-1 COLUMNS 4 WITH NO GAP -->
                <div class="section-content">
                    <div class="pricingtable-row m-b30 p-lr15 no-col-gap">
                        <div class="row">
                        
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b40">
                                <div class="pricingtable-wrapper">
                                    <div class="pricingtable-inner">
                                        
                                        <div class="pricingtable-title">
                                            <h3>STANDARD PLAN</h3><p>150%</p>
                                        </div>
                                        
                                        <ul class="pricingtable-features">
                                            <li><i class="fa fa-check"></i>$200- $2,999 Deposit</li>
                                            <li><i class="fa fa-check"></i> Full access to all features </li>
                                            <li><i class="fa fa-check"></i> Withdrawal takes less than 48 hours to process</li>
                                            <li><i class="fa fa-check"></i> Personal account manager</li>
                                            <li><i class="fa fa-check"></i> Withdrawal fees: &nbsp;2% </li>
                                            <li><i class="fa fa-check"></i> Plan Duration:  2 Business working days </li>
                                        </ul>
                                        
                                        <div class="pricingtable-footer">
                                            <a href="/register" class="site-button  text-uppercase">Open Account</a>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b40">
                                <div class="pricingtable-wrapper">
                                    <div class="pricingtable-inner pricingtable-highlight">
                                    
                                        <div class="pricingtable-title">
                                            <h3>PRO STANDARD PLAN</h3><P>200%</P>
                                        </div>
                                        
                                        <ul class="pricingtable-features">
                                            <li><i class="fa fa-check"></i>$3000- $19,999 Deposit</li>
                                            <li><i class="fa fa-check"></i> Full access to all features </li>
                                            <li><i class="fa fa-check"></i> Withdrawal takes less than 3 days to process</li>
                                            <li><i class="fa fa-check"></i> Personal account manager</li>
                                            <li><i class="fa fa-check"></i> Withdrawal fees: &nbsp;2% </li>
                                        </ul>
                                        
                                        <div class="pricingtable-footer">
                                            <a href="/register" class="site-button  text-uppercase">Open Account</a>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b240">
                                <div class="pricingtable-wrapper">
                                    <div class="pricingtable-inner">
                                    
                                        <div class="pricingtable-title">
                                            <h3>EXECUTIVE PLAN</h3><p>200%</p>
                                        </div>
      
                                        <ul class="pricingtable-features">
                                            <li><i class="fa fa-check"></i>$20,000- $99,999 Deposit</li>
                                            <li><i class="fa fa-check"></i> Full access to all features </li>
                                            <li><i class="fa fa-check"></i> Withdrawal takes less than 3 day to process</li>
                                            <li><i class="fa fa-check"></i> Personal account manager</li>
                                            <li><i class="fa fa-check"></i> Withdrawal fees: &nbsp;2% </li>
                                        </ul>
                                        
                                        <div class="pricingtable-footer">
                                            <a href="/register" class="site-button  text-uppercase">Open Account</a>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b40">
                                <div class="pricingtable-wrapper">
                                    <div class="pricingtable-inner">
                                    
                                        <div class="pricingtable-title">
                                            <h3>PRO EXECUTIVE PLAN</h3><p>220%</p>
                                        </div>
                                        
                                        <ul class="pricingtable-features">
                                            <li><i class="fa fa-check"></i>$100,000- $499,999 Deposit</li>
                                            <li><i class="fa fa-check"></i> Full access to all features </li>
                                            <li><i class="fa fa-check"></i> Withdrawal takes less than 4 days to process</li>
                                            <li><i class="fa fa-check"></i> Personal account manager</li>
                                            <li><i class="fa fa-check"></i> Withdrawal fees: &nbsp;2% </li>
                                        </ul>
                                        
                                        <div class="pricingtable-footer">
                                            <a href="/register" class="site-button  text-uppercase">Open Account</a>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b40">
                                <div class="pricingtable-wrapper">
                                    <div class="pricingtable-inner">
                                    
                                        <div class="pricingtable-title">
                                            <h3>VIP PLAN</h3><p>250%</p>
                                        </div>
                                        
                                        <ul class="pricingtable-features">
                                            <li><i class="fa fa-check"></i>$500,000 - $999,999 Deposit</li>
                                            <li><i class="fa fa-check"></i> Full access to all features </li>
                                            <li><i class="fa fa-check"></i> Withdrawal takes less than 5 days to process</li>
                                            <li><i class="fa fa-check"></i> Personal account manager</li>
                                            <li><i class="fa fa-check"></i> Withdrawal fees: &nbsp;2% </li>
                                        </ul>
                                        
                                        <div class="pricingtable-footer">
                                            <a href="/register" class="site-button  text-uppercase">Open Account</a>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-b40">
                                <div class="pricingtable-wrapper">
                                    <div class="pricingtable-inner">
                                    
                                        <div class="pricingtable-title">
                                            <h3>PREMIUM PLAN</h3><p>300%</p>
                                        </div>
                                        
                                        <ul class="pricingtable-features">
                                            <li><i class="fa fa-check"></i>$1,000,000- Unlimited</li>
                                        </ul>
                                        
                                        <div class="pricingtable-footer">
                                            <a href="/register" class="site-button  text-uppercase">Open Account</a>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
            </div>    
            
            

        </div>
        
    </div>
    <!-- SECTION CONTENT END -->

</div>
<!-- CONTENT END -->
  