<!-- CONTENT START -->
<div class="page-content">
  <!-- INNER PAGE BANNER -->
  <div
    class="wt-bnr-inr overlay-wraper"
    style="background-image: url(images/banner/about-banner.jpg)"
  >
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
      <div class="wt-bnr-inr-entry">
        <h1 class="text-white"><center>Privacy Policy</center></h1>
      </div>
    </div>
  </div>
  <!-- INNER PAGE BANNER END -->

  <!-- BREADCRUMB ROW -->
  <div class="bg-gray-light p-tb20">
    <div class="container">
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>Privacy Policy</li>
      </ul>
    </div>
  </div>
  <!-- BREADCRUMB  ROW END -->

  <!-- ABOUT COMPANY SECTION START -->
  <div class="section-full p-tb100">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="section-head text-left">
            <h2 class="text-uppercase">&nbsp;</h2>
            <div class="wt-separator-outer">
              <div class="wt-separator bg-primary"></div>
            </div>
            <strong><%= res.locals.siteName %> WEBSITE TERMS OF USE.</strong>
            <p>
              We realize how important it is for us to safeguard any personal
              data that may reveal your identity or account information, whether
              you are our client or a visitor to our Website’s public domain.<br />
              <%= res.locals.siteName %> is committed to its privacy obligations
              under the Principles contained in the UK Data Protection Act 1998.
              This Privacy Policy describes how we handle, use, disclose and
              protect personal data we collect about individuals who apply for
              or receive our products and services.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT COMPANY SECTION END -->
</div>
<!-- CONTENT END -->
